{arch}
.arch-ids
.arch-inventory
.gitcommit.txt
autom4te.cache
*~
Makefile.in
aclocal.m4
config.h.in
configure
depcomp
install-sh
missing
mkinstalldirs
cscope.out
._*
config.guess
config.sub
config.cache
stamp-h.in
stamp-h
ylwrap
.*.swp
*.pyc
ltmain.sh
.project
.cproject
.settings
Debug
m4
/compile
/test-driver
.deps
/lib/cfg-grammar.h
sbuild/*
!sbuild/config.yml
sbuild.py*
